@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-ptincipal: #000066;
    --cor-subcor: #000082;
    --cor-secundaria: #ffff00;
    --cor-branco: #ffffff;
    --cor-preto: #000000;

    --box-shadow1: #959da533 0px 8px 24px;

}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: #ededed;
}

main{
    width: 100%;
    box-sizing: border-box;
}

header{
 position: fixed;
 top:0;
 z-index: 3;
 width: 100%;
 
}

.nav-list>li>a {
color: var(--cor-branco);
text-decoration: none;
transition: 0.3s;
padding: 15px;
}

.nav-list>li>a:hover {
opacity: 0.7;
text-decoration: underline;
}

.logo>img {
 width: 120px;
 border-radius: 10px;
}

nav {
display: flex;
justify-content: space-around;
align-items: center;
background: var(--cor-ptincipal);
height: 60px;
}

.nav-list {
list-style: none;
display: flex;
}

.nav-list li {
letter-spacing: 3px;
margin-left: 32px;
text-align: center;
}

.mobile-menu {
display: none;
cursor: pointer;
}

.mobile-menu div {
width: 32px;
height: 2px;
background: var(--cor-branco);
margin: 8px;
transition: 0.3s;
}

/*index-inicio*/

.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    animation: fade 1s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--cor-branco);
    font-size: 36px; /* Altere o valor para ajustar o tamanho dos títulos */
    font-weight: 400;
    text-align: center;
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.89);
    opacity: 0;
    animation: fade 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: var(--cor-branco);
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}


.quem-nos-somos{
    padding: 40px;
}

.quem-nos-somos>h1{
    text-align: center;
    color: var(--cor-ptincipal);
    font-size: 2rem;
    margin-bottom: 20px;
}

.quem-nos-somos>hr{
    text-align: center;
    width: 200px;
    margin: auto;
    border: 2px solid var(--cor-secundaria) ;
    margin-bottom: 20px;
}

.quem-nos-somos>p{
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
}

.seção-nossos-trabalhos{
    background-image: linear-gradient(45deg ,var(--cor-subcor) ,var(--cor-ptincipal));
    padding: 40px;
}

.seção-nossos-trabalhos>h1{
    text-align: center;
    color: var(--cor-secundaria);
    font-size: 2rem;
    margin-bottom: 20px;
}

.seção-nossos-trabalhos>hr{
    width: 200px;
    margin: auto;
    border: 2px solid var(--cor-branco);
    margin-bottom: 20px;
}

.nossos-trabalhos{  
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "img1 img2 img3"
      "img4 img5 img6";
  }
  
  .img1 { grid-area: img1; }
  
  .img2 { grid-area: img2; }
  
  .img3 { grid-area: img3; }
  
  .img4 { grid-area: img4; }
  
  .img5 { grid-area: img5; }
  
  .img6 { grid-area: img6; }
  
.nossos-trabalhos>div>img{
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.depoimentos-clientes{
    padding: 40px;
}

.depoimentos-clientes>h1{
    text-align: center;
    color: var(--cor-ptincipal);
    font-size: 2rem;
    margin-bottom: 20px;
}

.depoimentos-clientes>hr{
    text-align: center;
    width: 200px;
    margin: auto;
    border: 2px solid var(--cor-secundaria) ;
    margin-bottom: 20px;
}

.depoimentos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.card-depoimentos{
    max-width: 600px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: relative;
    margin: 20px 10px;
    background-color: var(--cor-branco);
    color: var(--cor-preto);
}

.img-perfil{
    width: 20%;
    margin-bottom: 20px;
    border-radius: 50%;
}

.aspas-baixo{
    display: block;
    width: 80px;
    position: absolute;
    top: 70px;
    left: 60px;
}

.aspas-cima{
    display: block;
    width: 80px;
    position: absolute;
    bottom: 30px;
    right: 60px;
}

.card-depoimentos>p{
    text-align: justify;
    max-width: 70%;
    margin-bottom: 20px;
}


.card-depoimentos>h5{
    font-size: 1.5em;
}

/*index-fim*/

/*pagina sobre nós-inicio*/

.cabecalho-sobre-nos{
    background-color: var(--cor-subcor);
    width: 100%;
    height: 100px;
    padding-top: 100px;
}

.cabecalho-sobre-nos>h2{
    font-size: 2rem;
    text-align: center;
    color: var(--cor-secundaria);
}

.sec-sobre-nos>img{
    max-width: 70%;
    margin: auto;
    border-radius: 20px;
    box-shadow: var(--box-shadow1);
}

.sec-sobre-nos>div>h3{
    color: var(--cor-ptincipal);
    font-size: 2rem;
    align-items: center;
}

.sec-sobre-nos>div>hr{
    text-align: center;
    width: 200px;
    margin: auto;
    border: 2px solid var(--cor-secundaria);
    margin: 20px;
}

.texs-pag-sobre-nos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texs-pag-sobre-nos>p{
    text-align: justify;
    text-indent: 1.5rem;
    line-height: 2rem;
    max-width: 1000px;
}

.sec-sobre-nos {  
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 100px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "texts-missao imgs-missao"
      "imgs-valores texts-valores"
      "texts-hist-empresa texts-hist-empresa";
  }
  
  .texts-missao { grid-area: texts-missao; }
  
  .imgs-missao { grid-area: imgs-missao; }
  
  .imgs-valores { grid-area: imgs-valores; }
  
  .texts-valores { grid-area: texts-valores; }
  
  .texts-hist-empresa { grid-area: texts-hist-empresa; }
  
  
  
  

/*pagina sobre nós-fim*/

footer{
    width: 100%;
    background-color: var(--cor-ptincipal);
    padding: 30px;
    box-sizing: border-box;

}

.seja-um-reved{
    margin-bottom: 50px;
}

.seja-um-reved>h3{
    text-align: center;
    color: var(--cor-branco);
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.seja-um-reved>hr{
    width: 200px;
    margin: auto;
    border: 2px solid var(--cor-branco);
    margin-bottom: 20px;
}

.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 100%;
    max-width: 340px;
    margin: auto;
}

.coolinput label.text {
    font-size: 0.75rem;
    color: var(--cor-branco);
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background-color: var(--cor-ptincipal);
    width: fit-content;
}

.coolinput input.input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px solid var(--cor-branco);
    border-radius: 5px;
    background: transparent;
    color: var(--cor-branco);
}

.coolinput input.input:focus {
    outline: none;
}

.input-reved::placeholder{
    color: var(--cor-branco);
}

.btn-forms-reved{
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: dodgerblue;
    color: var(--cor-branco);
    border-radius: 4px;
    margin: auto;
    display: block;
    margin-top: 20px;
}
   
.btn-forms-reved:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}
   
.btn-forms-reved:active {
    transform: translate(0em, 0.2em);
}

.informaçoes>p{
    text-align: center;
    color: var(--cor-branco);
}

.informaçoes>p>a{
    color: var(--cor-branco);
    text-decoration: none;
}

.informaçoes>p>a:hover{
    text-decoration: underline;
}

.rwb-tooltip{
    background-color: var(--cor-branco);
}

.btn-zap{
    opacity: .5;
}

.btn-zap:hover{
    opacity: 1;
}


  
@media screen and (max-width: 1090px) {
    
    
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #000066d4;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        margin-bottom: 60px;
        margin-top: 30px;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .nossos-trabalhos{  
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 15px 15px;
        grid-template-areas:
        "img1 img2" 
        "img3 img4" 
        "img5 img6";
    }

    .sec-sobre-nos>img{
        max-width: 100%;
        margin: auto;
        border-radius: 20px;
    }
      
}

@media screen and (max-width: 700px) {
    
    .nossos-trabalhos>div>img{
        border-radius: 10px;
    }
    
    .aspas-baixo{
        width: 40px;
        top: 30px;
        left: 20px;
    }
    
    .aspas-cima{
        width: 40px;
        bottom: 30px;
        right: 20px;
    }

    .sec-sobre-nos {  
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        gap: 50px 0px;
        grid-template-areas:
          "texts-missao" 
          "imgs-missao"
          "texts-valores"
          "imgs-valores"
          "texts-hist-empresa";
      }

      .texs-pag-sobre-nos>p{
        line-height: 1.5rem;
    }
}

@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }