@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-ptincipal: #000066;
    --cor-subcor: #0000bd;
    --cor-secundaria: #ffff00;
    --cor-branco: #ffffff;
    --cor-preto: #000000;

    --box-shadow1: #64646f33 0px 7px 29px 0px;
    --box-shadow2: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
    --box-shadow3: #00000030 0px 10px 20px, #0000003b 0px 6px 6px;

    --font-principal: 'Rubik', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-principal);
    background-color: #f0f0f0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.asteristico-obrigatorio{
    color: red;
    font-size: 0.75rem;
}

main{
    width: 100%;
    box-sizing: border-box;
}

header{
 position: fixed;
 top:0;
 z-index: 3;
 width: 100%;
 
}

.nav-list>li>a {
color: var(--cor-branco);
text-decoration: none;
transition: 0.3s;
padding: 15px;
}

.nav-list>li>a:hover {
opacity: 0.7;
text-decoration: underline;
}

.logo>img {
 width: 170px;
}

nav {
display: flex;
justify-content: space-around;
align-items: center;
background: var(--cor-ptincipal);
height: 10vh;
}

.nav-list {
list-style: none;
display: flex;
}

.nav-list li {
letter-spacing: 3px;
margin-left: 32px;
text-align: center;
}

.mobile-menu {
display: none;
cursor: pointer;
}

.mobile-menu div {
width: 32px;
height: 2px;
background: var(--cor-branco);
margin: 8px;
transition: 0.3s;
}

/*index-inicio*/

.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    animation: fade 1s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--cor-branco);
    font-size: 36px; /* Altere o valor para ajustar o tamanho dos títulos */
    font-weight: 400;
    text-align: center;
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.89);
    opacity: 0;
    animation: fade 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: var(--cor-branco);
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}


.quem-nos-somos{
    padding: 40px;
}

.quem-nos-somos>h1{
    text-align: center;
    color: var(--cor-ptincipal);
    font-size: 2rem;
    margin-bottom: 20px;
}

.quem-nos-somos>hr{
    text-align: center;
    width: 200px;
    margin: auto;
    border: 2px solid var(--cor-secundaria) ;
    margin-bottom: 20px;
}

.quem-nos-somos>p{
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
}

.seção-nossos-trabalhos{
    background-image: linear-gradient(45deg ,var(--cor-subcor) ,var(--cor-ptincipal));
    padding: 40px;
}

.seção-nossos-trabalhos>h1{
    text-align: center;
    color: var(--cor-secundaria);
    font-size: 2rem;
    margin-bottom: 20px;
}

.seção-nossos-trabalhos>hr{
    width: 200px;
    margin: auto;
    border: 2px solid var(--cor-branco);
    margin-bottom: 20px;
}

.nossos-trabalhos{  
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "img1 img2 img3"
      "img4 img5 img6";
  }
  
  .img1 { grid-area: img1; }
  
  .img2 { grid-area: img2; }
  
  .img3 { grid-area: img3; }
  
  .img4 { grid-area: img4; }
  
  .img5 { grid-area: img5; }
  
  .img6 { grid-area: img6; }
  
.nossos-trabalhos>div>img{
    width: 100%;
    border-radius: 20px;
    box-shadow: var(--box-shadow2)
}

.chamando-para-ser-revendedor{
    background-color: #dddddd;
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

.div-chamando-para-ser-revendedor{
    margin-bottom: 20px;
}

.div-chamando-para-ser-revendedor>h2{
    font-size: 2.5rem;
}

.div-chamando-para-ser-revendedor>p{
    font-size: 1.3rem;
}

.chamando-para-ser-revendedor>a{
    text-align: center;
    background-image: linear-gradient(to top, var(--cor-ptincipal), var(--cor-subcor));
    color: var(--cor-branco);
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: auto;
    width: 180px;
    box-shadow: var(--box-shadow2);
    transition: all 0.8s ease-out;
}

.chamando-para-ser-revendedor>a:hover{
    background-image: linear-gradient(to top,var(--cor-subcor), var(--cor-subcor));
    box-shadow: 0 0 50px 10px #48abe0;
    transform: scale(1.05);
}

.depoimentos-clientes{
    padding: 40px;
}

.depoimentos-clientes>h1{
    text-align: center;
    color: var(--cor-ptincipal);
    font-size: 2rem;
    margin-bottom: 20px;
}

.depoimentos-clientes>hr{
    text-align: center;
    width: 200px;
    margin: auto;
    border: 2px solid var(--cor-secundaria) ;
    margin-bottom: 20px;
}

.depoimentos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.card-depoimentos{
    max-width: 600px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: var(--box-shadow3);
    position: relative;
    margin: 20px 10px;
    background-color: var(--cor-branco);
    color: var(--cor-preto);
}

.img-perfil{
    width: 20%;
    margin-bottom: 20px;
    border-radius: 50%;
}

.aspas-baixo{
    display: block;
    width: 80px;
    position: absolute;
    top: 70px;
    left: 60px;
}

.aspas-cima{
    display: block;
    width: 80px;
    position: absolute;
    bottom: 30px;
    right: 60px;
}

.card-depoimentos>p{
    text-align: justify;
    max-width: 70%;
    margin-bottom: 20px;
}


.card-depoimentos>h5{
    font-size: 1.5rem;
}

.entre-em-contato{
    background-color: #dddddd;
    padding: 40px;
    box-sizing: border-box;
}

.entre-em-contato>h3{
 color: var(--cor-preto);
 font-size: 2.5rem;
 margin-bottom: 5px;
 font-weight: 700;
}
.entre-em-contato>p{
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.form-card-contato-conteiner{  
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 2px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "formulario-de-contato aside-cards-contatos";
}
  
  .formulario-de-contato { grid-area: formulario-de-contato; }
  
  .aside-cards-contatos { grid-area: aside-cards-contatos; }
  
.coolinput {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;

}

.text {
    font-size: 0.75rem;
    color: var(--cor-preto);
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #dddddd;
    width: fit-content;
}

.input-form-contato {
    padding: 10px;
    font-size: 0.75rem;
    border: 2px solid var(--cor-preto);
    border-radius: 5px;
    background: transparent;
    font-size: 1.09rem;
    outline: none;
}

.input-form-contato::placeholder{
    color: rgb(41, 41, 41);
    font-size: 1.02rem;
}

.input-textarea-form-contato{
    padding: 10px;
    font-size: 0.75rem;
    border: 2px solid var(--cor-preto);
    border-radius: 5px;
    background: transparent;
    font-size: 1.09rem;
    resize: vertical;
    min-height: 100px;
    outline: none;
    
}

.input-textarea-form-contato::placeholder{
    color: rgb(41, 41, 41);
    font-size: 1.02rem;
}

@media screen and (max-width: 1381px) {
    .input-textarea-form-contato{
        min-height: 280px;
    }
}

.btn-form-contato{
    background-color: #405cf5;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    height: 44px;
    outline: none;
    text-align: center;
    padding: 0px 20px;
    margin-top: 10px;
    width: 100%;
    max-width: 500px;
    border: none;
}

.btn-form-contato:hover {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
    background-color: #384fd0;
}

.aside-cards-contatos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.aside-cards-contatos>a{
    color: var(--cor-preto);
    text-decoration: none;
}

.cards-contatos{
    background-color: var(--cor-branco);
    height: 230px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 273px;
    margin: 5px;
    box-shadow: var(--box-shadow1);
}

.bi-envelope-at, .bi-telephone, .bi-geo-alt{
    font-size: 2.5rem;
    margin: 50px 0px 20px;
}

.cards-contatos>p{
    text-align: center;
}


/*index-fim*/

/*pagina sobre nós-inicio*/

.cabecalho-sobre-nos{
    background-color: var(--cor-subcor);
    width: 100%;
    height: 80px;
    padding-top: 80px;
    text-align: center;
}

.cabecalho-sobre-nos>h2{
    font-size: 2rem;
    color: var(--cor-secundaria);
    margin: 10px 0px;
}

.cabecalho-sobre-nos>hr{
    width: 150px;
    margin: auto;
    border: 2px solid var(--cor-branco);
}

.sec-sobre-nos>img{
    max-width: 70%;
    margin: auto;
    border-radius: 20px;
    box-shadow: var(--box-shadow1);
}

.sec-sobre-nos>div>h3{
    color: var(--cor-ptincipal);
    font-size: 2rem;
    align-items: center;
}

.sec-sobre-nos>div>hr{
    text-align: center;
    width: 200px;
    margin: auto;
    border: 2px solid var(--cor-secundaria);
    margin: 20px;
}

.texs-pag-sobre-nos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texs-pag-sobre-nos>p{
    text-align: justify;
    text-indent: 1.5rem;
    line-height: 2rem;
    max-width: 1000px;
}

.sec-sobre-nos {  
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 100px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "texts-missao imgs-missao"
      "imgs-valores texts-valores"
      "texts-hist-empresa texts-hist-empresa";
  }
  
  .texts-missao { grid-area: texts-missao; }
  
  .imgs-missao { grid-area: imgs-missao; }
  
  .imgs-valores { grid-area: imgs-valores; }
  
  .texts-valores { grid-area: texts-valores; }
  
  .texts-hist-empresa { grid-area: texts-hist-empresa; }
  
/*pagina sobre nós-fim*/

/*pagina produtos-inicio*/

.cabecalho-produtos{
    background-color: transparent;
    width: 100%;
    height: 80px;
    padding-top: 80px;
    text-align: center;
}

.cabecalho-produtos>h2{
    font-size: 2rem;
    color: var(--cor-ptincipal);
    margin: 10px 0px;
}

.cabecalho-produtos>hr{
    width: 150px;
    margin: auto;
    border: 2px solid var(--cor-secundaria);
}

.materiais-produtos{
    box-sizing: border-box; 
    margin-bottom: 100px;
    box-sizing: border-box;
    padding: 0px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 70px 10%;
    grid-auto-flow: row;
    grid-template-areas:
      "prod1 prod2 prod3"
      "prod4 prod5 prod6"
      "prod7 prod8 prod9";
  }
  
  .prod1 { grid-area: prod1; }
  
  .prod2 { grid-area: prod2; }
  
  .prod3 { grid-area: prod3; }
  
  .prod4 { grid-area: prod4; }
  
  .prod5 { grid-area: prod5; }
  
  .prod6 { grid-area: prod6; }
  
  .prod7 { grid-area: prod7; }
  
  .prod8 { grid-area: prod8; }
  
  .prod9 { grid-area: prod9; }

  .card-produto{
    text-align: center;
  }
  
  .card-produto>h3{
    height: 50px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .card-produto>img{
    width: 100%;
    border-radius: 20px;
    box-shadow: var(--box-shadow1);
    margin-bottom: 20px;
  }

  .card-produto>p{
    text-align: justify;
    min-height: 190px;
    margin-bottom: 20px;
    line-height: 1.3rem;
  }

  .btn-vermais-produtos{
    text-decoration: none;
    color: var(--cor-branco);
    background-color: var(--cor-ptincipal);
    padding: 10px;
    border-radius: 99px;
    border: 3px solid var(--cor-ptincipal);
    display: block;
    max-width: 150px;
    margin: auto;
    font-weight: 700;
  }

  .btn-vermais-produtos:hover{
    background-color: transparent;
    color: var(--cor-ptincipal);
  }
  


/*pagina produtos-fim*/

/*pagina contato para revenda-inicio*/

#main-bg-cntt-reved{
    background-color: var(--cor-subcor);
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 71px 0px 0px;
    background-image: url(../../imagens.vt/fundo-para-conato-de-revenda.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card-cntt-reved {
    width: 100%;
    max-width: 1000px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: var(--box-shadow2);
    background-color: #ffffffbf;
    backdrop-filter: blur( 5px );
    margin: 40px 10px;
    
    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(5, auto); 
    gap: 10px 10px; 
    grid-template-areas: 
      "h3-form-cntt-reved h3-form-cntt-reved"
      "p-cntt-reved1 p-cntt-reved1"
      "form-cntt-reved-direita form-cntt-reved-esquerda"
      "p-cntt-reved2 p-cntt-reved2"
      "btn-form-cntt-reved btn-form-cntt-reved"; 
  }
  .h3-form-cntt-reved { grid-area: h3-form-cntt-reved; }
  .p-cntt-reved1 { grid-area: p-cntt-reved1; }
  .form-cntt-reved-direita { grid-area: form-cntt-reved-direita; }
  .form-cntt-reved-esquerda { grid-area: form-cntt-reved-esquerda; }
  .p-cntt-reved2 { grid-area: p-cntt-reved2; }
  .btn-form-cntt-reved { grid-area: btn-form-cntt-reved; }

.card-cntt-reved>h3{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    
}

.card-cntt-reved>p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
}

#chamada-de-atencao{
    font-size: 1rem;
}



.form-cntt-reved-direita, .form-cntt-reved-esquerda{
    width: 100%;
    min-width: 320px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coolinput-cntt-reved{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text-cntt-reved {
    font-size: 0.75rem;
    color: var(--cor-branco);
    font-weight: 500;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    width: fit-content;
    border-radius: 4px;
    background-color: var(--cor-preto);
}

.input-form-cntt-reved {
    padding: 10px;
    font-size: 0.75rem;
    border: 2px solid var(--cor-preto);
    border-radius: 5px;
    background: transparent;
    font-size: 1.09rem;
    outline: none;
}

.input-form-cntt-reved::placeholder{
    color: rgb(41, 41, 41);
    font-size: 1.02rem;
}

.input-textarea-form-cntt-reved{
    padding: 10px;
    font-size: 0.75rem;
    border: 2px solid var(--cor-preto);
    border-radius: 5px;
    background: transparent;
    font-size: 1.09rem;
    resize: vertical;
    min-height: 20.80px;
    max-height: 20.80px;
    outline: none;
    
}

.input-textarea-form-cntt-reved::placeholder{
    color: rgb(41, 41, 41);
    font-size: 1.02rem;
    font-family: 'Courier New', Courier, monospace;
}

.btn-form-cntt-reved{
    background-color: #405cf5;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    height: 44px;
    outline: none;
    text-align: center;
    width: 100%;
    max-width: 500px;
    border: none;
    margin: auto;
}

.btn-form-cntt-reved:hover {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
    background-color: #384fd0;
}

/*pagina contato para revenda-fim*/

footer{
    width: 100%;
    background-color: var(--cor-ptincipal);
    padding: 10px;
    box-sizing: border-box;
    height: 10vh;

}

.informaçoes>p{
    text-align: center;
    color: var(--cor-branco);
}

.informaçoes>p>a{
    color: var(--cor-branco);
    text-decoration: none;
}

.informaçoes>p>a:hover{
    text-decoration: underline;
}

.rwb-tooltip{
    background-color: var(--cor-branco);
}

.btn-zap{
    opacity: .5;
}

.btn-zap:hover{
    opacity: 1;
}


  
@media screen and (max-width: 1090px) {
    
    
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #000066d4;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        margin-bottom: 60px;
        margin-top: 30px;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .nossos-trabalhos{  
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 15px 15px;
        grid-template-areas:
        "img1 img2" 
        "img3 img4" 
        "img5 img6";
    }

    .sec-sobre-nos>img{
        max-width: 100%;
        margin: auto;
        border-radius: 20px;
    }
    
    .form-card-contato-conteiner{  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px 10px;
        grid-auto-flow: row;
        grid-template-areas:
          "formulario-de-contato" 
          "aside-cards-contatos";
      }

      .formulario-de-contato{
        margin: auto;
        width: 100%;
        max-width: 520px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .input-textarea-form-contato{
        min-height: 100px;
    }

}

@media screen and (max-width: 700px) {
    
    .nossos-trabalhos>div>img{
        border-radius: 10px;
    }
    
    .chamando-para-ser-revendedor{
        flex-direction: column;
    }
    
    .aspas-baixo{
        width: 40px;
        top: 30px;
        left: 20px;
    }
    
    .aspas-cima{
        width: 40px;
        bottom: 30px;
        right: 20px;
    }

    .cards-contatos{
        height: auto;
        width: 280px;
        
    }
    
    .bi-envelope-at, .bi-telephone, .bi-geo-alt{
        font-size: 2.5rem;
        margin: 0px 0px 20px;
    }

    .cabecalho-sobre-nos, .cabecalho-produtos{
        padding-top: 90px;
    }

    .sec-sobre-nos {  
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        gap: 50px 0px;
        grid-template-areas:
          "texts-missao" 
          "imgs-missao"
          "texts-valores"
          "imgs-valores"
          "texts-hist-empresa";
    }

    .texs-pag-sobre-nos>p{
        line-height: 1.5rem;
    }

    .materiais-produtos{
        padding: 0px 35px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, auto);
        gap: 70px 10px;
        grid-template-areas:
          "prod1" 
          "prod2" 
          "prod3"
          "prod4" 
          "prod5" 
          "prod6"
          "prod7" 
          "prod8" 
          "prod9";
    }
    
    #main-bg-cntt-reved{
        height: fit-content;
    }

    .card-cntt-reved {    
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(6, auto); 
        gap: 10px 10px; 
        grid-template-areas: 
          "h3-form-cntt-reved"
          "p-cntt-reved1"
          "form-cntt-reved-direita" 
          "form-cntt-reved-esquerda"
          "p-cntt-reved2"
          "btn-form-cntt-reved"; 
      }
      .form-cntt-reved-esquerda{
        margin-top: 12px;
      }
      .card-cntt-reved>h3{
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        
    }
    
     .card-cntt-reved>p{
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
    }
    
     #chamada-de-atencao{
        font-size: 0.8rem;
    }


}   

@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }